*{
    margin: 0;
    padding: 0;
}

.Product-Head{
    text-align: center;
    font-size: 50px;
    width: 80%;
    padding: 0 20px;
    border-bottom: 1px solid;
    margin: 25px auto;
}

.container{
    width: 90%;
    margin: auto;
}

.product-title{
    font-size: 25px;
    margin: 0 40px;
    border-bottom: 1px solid;
    width: 100px;
    padding: 4px 15px;
    text-align: center;
}

.products{
    text-align: center;
    justify-content: space-between;
    display: flex;
    margin: 15px;
}

.product-card {
    display: inline-block;
    margin: 10px;
    padding: 14px;
    width: 25%;
    flex-direction: column;
    max-width: 200px;
    background-color: #2828281a;
    transition: 0.3s ease;
}

.product-card:hover{
    transform: scale(1.05);
    background-color: #2828281a;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.product-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
}

.product-img {
    margin-bottom: 15px;
}

.product-content h5{
    margin-bottom: 10px;
    font-size: 15px;
}

.product-content p {
    font-size: 15px;
    font-weight: 100;
    color: #585858;
}

.prices {
    padding-top: 8px;
}

.prices span {
    margin: 5px;
    font-weight: 800;
}

.prices button {
    border: none;
    background: #0089f5;
    border-radius: 5px;
    padding: 2px 10px;
    margin: 5px;
}

.prices button a {
    text-decoration: none;
    color: #ffffff;
}
